NUXT_PUBLIC_SOCIAL_GITHUB_URL=https://github.com/your-username
NUXT_PUBLIC_SOCIAL_LINKEDIN_URL=https://linkedin.com/in/your-id
NUXT_PUBLIC_SOCIAL_FACEBOOK_URL=https://facebook.com/your-id
NUXT_PUBLIC_SOCIAL_ZALO_URL=https://zalo.me/your-number

# Contact
NUXT_PUBLIC_CONTACT_EMAIL=hello@example.com
NUXT_PUBLIC_CONTACT_PHONE=0962309147